<h2>Xero Contacts</h2>

<p><%= @presenter.collection_info %></p>
<p><%= @presenter.sync_info %></p>

<%= @presenter.sync_button %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th class="numeric">Owing</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @presenter.each_contact_row do |contact| %>
      <td>
        <%= external_link_to(contact.name, contact.xero_url) %>
      </td>
      <td>
        <%= contact.status %>
      </td>
      <td class="numeric">
        <%= number_to_currency contact.data.dig('balances', 'accounts_receivable', 'outstanding') %>
      </td>
      <td>
        <dl class="extra-data">
        <% contact.data.each do |attr, value| %>
        <dt><%= attr.titleize %></dt>
        <dd><%= contact.formatted_value(value, self) %></dd>
        <% end %>
        </dl>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
