<h2>Xero Contacts</h2>

<p>
  <% if @contacts.any? %>
    Showing <%= pluralize(@contacts.size, "contacts") %>,
    last modified <%= time_ago_in_words(@contacts.last_updated_at) %> ago.
  <% else %>
    Showing <%= pluralize(@contacts.size, "contacts") %>.
  <% end %>
</p>

<% if @contacts.any? %>
  <p>Last synced <%= time_ago_in_words(@contacts.last_synced_at) %> ago.</p>
<% else %>
  <p>Never synced.</p>
<% end %>

<%= button_to "Sync Now", action: :sync %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th class="numeric">Owing</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "contact", collection: @contacts %>
  </tbody>
</table>
