<h2>Xero Contacts</h2>

<p><%= @presenter.collection_info %></p>
<p><%= @presenter.sync_info %></p>

<%= @presenter.sync_button %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th class="numeric">Owing</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @presenter.each_contact_row do |contact| %>
      <td>
        <%= contact.xero_link %>
      </td>
      <td>
        <%= contact.status %>
      </td>
      <td class="numeric">
        <%= contact.outstanding %>
      </td>
      <td>
        <dl class="extra-data">
        <% contact.formatted_data.each do |attr, value| %>
          <dt><%= attr.titleize %></dt>
          <dd><%= value %></dd>
        <% end %>
        </dl>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
