<h2>Xero Contacts</h2>

<p>
  Showing <%= pluralize(@contacts.size, "contacts") %>,
  <% if @contacts.any? %>
    last modified <%= time_ago_in_words(@contacts.last_updated_at) %> ago.
  <% end %>
</p>
<% if @contacts.any? %>
  <p>Last synced <%= time_ago_in_words(@contacts.last_synced_at) %> ago.</p>
<% end %>

<%= button_to "Sync Now", action: :sync %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td>
          <%= external_link_to(contact.name, contact.xero_url) %>
        </td>
        <td>
          <%= contact.status %>
        </td>
        <td>
          <dl class="extra-data">
          <% contact.data.each do |attr, value| %>
          <dt><%= attr.humanize %></dt>
          <dd><%= value %></dd>
          <% end %>
          </dl>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
