<h2>Xero Contacts</h2>

<% if @contacts.any? %>
  <%= render partial: 'contacts_present', locals: { contacts: @contacts } %>
<% else %>
  <%= render partial: 'never_synced', locals: { contacts: @contacts } %>
<% end %>

<%= button_to "Sync Now", action: :perform %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th class="numeric">Owing</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr class="<%= 'struck-out-element' if contact.muted? %>">
        <td>
          <%= external_link_to(contact.name, contact.xero_url) %>
        </td>
        <td>
          <%= contact.status %>
        </td>
        <td class="numeric">
          <%= number_to_currency contact.data.dig('balances', 'accounts_receivable', 'outstanding') %>
        </td>
        <td>
          <dl class="extra-data">
          <% contact.data.each do |attr, value| %>
          <dt><%= attr.titleize %></dt>
          <dd><%= contact.formatted_value(value, self) %></dd>
          <% end %>
          </dl>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
