<!DOCTYPE html>
<html>
  <head>
    <title>XeroContactSync</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <% if flash.present? %>
      <div class="flash-container">
        <% flash.each do |type, message| %>
          <%= content_tag :div, class: [:flash, type] do -%>
            <%= message %>
          <%- end -%>
        <% end %>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
